html {
  box-sizing: border-box;
  background-color: #dbd6cf;
  font-family: sans-serif;
  line-height: 1.5em;
  border: 400px 650px;
}

*, *::before, ::after{
  box-sizing: inherit;
}

body {
  margin-top: auto;
  margin-bottom: auto;
  background-color: #79756f;
  padding:.6em,.5em .75em;
  margin: 0.3em;
}

h1 {
  font-family: "Bevan", sans-serif;
  line-height: 1.5em;
  color: #fff;
  display: inline-block;
}

li {
  font-family: sans-serif;
  display: inline-block;
  vertical-align: middle;
  background-color: #713837;
  margin: .3em;
  border-radius: 5px;
}

nav {
  border-radius: 15px;
}

a {
  color: #fff;
  list-style-type: inherit;
  color: #f33;
}
