html {
  background-color: #dbd6cf;
}

body {
  background-color: #79756f;
}

h1 {
  font-style: Bevan,sans-serif;
  line-height: 1.5em;
  color: #fff;
}

li {
  display: inline-block;
  background-color: #713837;
}

a {
  margin: .3em;
  border: .6em;
  border-radius:0.5em,0.75em;
  color: #fff;
}
