html {
  box-sizing: border-box;
  background-color: #dbd6cf;
  font-family: sans-serif;
  line-height: 1.5em;
  border: 400px, 650px;
}

*, *::before, ::after{
  box-sizing: inherit;
}

body {
  margin-top: auto;
  margin-bottom: auto;
  background-color: #79756f;
}

h1 {
  font-family: Bevan;
  line-height: 1.5em;
  color: #fff;
}

ul li {
  display: inline-block;
  vertical-align: middle;
  background-color: #713837;
  margin: .3em;
  border: 1px solid #595652;
  border-radius:0.5em,0.75em;
}

a {
  color: #fff;}
